div.scroom-block {
  display: block;
  width: 912px;
  height:465px;
  position: absolute;
}

div.scroom-map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
div.scroom-map div.scroom-img{
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}

div.scroom-options {
  position: relative;
  width: 40px;
  height: 80px;
  background: rgba(101, 150, 145, 0.87);
  float: left;
  top: 0;
  z-index: 999;
  right: 0;
}

div.scroom-options span.scroom-area {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
  margin-left: 8px;
  border: 2px solid black;
}

.scroom-square { 
    border: 2px solid red; 
    position: absolute;
}
.square-detail {
  position: relative;
  background: red;
  border-radius: 6px;
  padding: 12px;
  margin-top: -70px;
  z-index: 9;
  width: 150px;
}
span.arrow {
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 0;
  border-top: solid 5px red;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}